body{
  margin: 0;
  padding: 0;
  width: 1600px;
  height: 1200px;
}

header{
  height: 80px;
  width: 100%;
  background:white;
  display: flex;

  .logo{
    width: 140px;
    line-height: 80px;
    padding-left: 32px;
    font-size: 28px;
    font-family: "Helvetica Neue";
    font-weight: bold;

    .city{
      color: #029ae2;
    }
    .lab{
      color: #30d0ed;
    }
  }

  .right-box{
    width: 90%;
    
    .link{
      display: flex;
      justify-content: flex-end;
      line-height: 80px;
      
      > a{
        text-decoration: none;
        font-family: "ヒラギノ角ゴ Pro";
        font-size: 14px;
        padding-left :39px ;
        color: black;

      }

      .right{
        padding-right: 74px;
      }

      .contact{
        background: #30d0ed;
      }
      .contact a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 0 48px;

      }
    }
  }
}

.mv{
  background-image: url(../mv-img.png);
  // width: 100%;
  height: 670px;
  background-size: cover;
  text-align: center;
  color: white;
  
  &-ttl{
    font-family: "Cormorant Garamond";
    font-size: 140px;
    line-height: 0.82em;
    letter-spacing: 0.025;
    padding-top: 160px;
    text-shadow:
    #81cae1 1px 1px 3px, #81cae1 -1px 1px 3px,
    #81cae1 1px -1px 3px, #81cae1 -1px -1px 3px;
  }

  &-solu{
    font-family: "ヒラギノ角ゴ ProN";
    padding-top: 44px;
    font-size: 25px;
    line-height: 1.44em;
    letter-spacing: 0.1;
    text-shadow:
    #81cae1 1px 1px 3px, #81cae1 -1px 1px 3px,
    #81cae1 1px -1px 3px, #81cae1 -1px -1px 3px;
  }

}

.news{
  background: #edfcff;
  height: 234px;
  display: flex;

  &-ttl{
    padding: 57px 0 0 199px;
  
    .ttl1{
      font-size: 40px;
      font-family: "Open Sans";
      color: #019bdf;
      font-weight: bold;
    }
  
    .ttl2{
      font-size: 12px;
      font-family: "ヒラギノ角ゴ Pro";
      color: #333333;
    }
  }

  &-contents{
    width: 1050px;
    padding-top: 61px;
    padding-left: 40px;
    
    .content{
      display: flex;
      padding: 12px 0;
      line-height: 18px;
      border-bottom: #93deff solid 1px;
      
      .date{
        color: #686d6e;
        font-size: 13px;
      }
      
      .genre{
        margin-left: 31px;
        margin-right: 34px;
        font-family: "ヒラギノ角ゴ Pro";
        text-align: center;
        font-size: 10px;
        color: white;
        background: #019bdf;
        height: 18px;
        width: 80px;
      }

      .disc{
        color: #333333;
        font-size: 13px;
      }
    }
  }

}

.service{
  background: white;
  height: 216px;
  text-align: center;

  &-ttl{
    padding-top: 79px;
    font-size: 40px;
    font-family: "Open Sans";
    color: #019bdf;
    font-weight: bold;
  }

  &-sub{
    font-size: 10px;
    color: #019bdf;
  }

  img{
    margin-top: 21px;
    vertical-align: bottom;
    margin-left: 15px;
    margin-right: 15px;
  }
}